<%= form_for @garment do |f| %>
    <div>New Garment:</div>
    Garment: <%= f.text_field :prenda %>
    Price: <%= f.text_field :precio %>
    Pic: <%= f.file_field :pic %>
    <%= f.submit %>
<% end %>
  